@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif !important; */
  font-family: "Barlow Semi Condensed", sans-serif !important;
}

img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

/* Theme colors set */
.primary-text {
  color: #3b3d40;
}
.secondary-text {
  color: #e89327;
}
.info-light-text {
  color: #55bdca;
}
.info-text {
  color: #96ffff;
}
.light-text {
  color: #c8eff4;
}
/* Theme Primary Button */
.theme-primary-button {
  color: #fff;
  background-color: #e5923b;
  border-color: #e5923b;
}
.theme-primary-button:hover {
  color: #e5923b;
  background-color: #fff;
  border-color: #e5923b;
}

/* Theme Nav Bar */
.theme-nav {
  font-family: "Barlow Semi Condensed";
}
.theme-nav.navbar {
  background-color: #3b3d40;
}
.theme-nav .nav-link {
  color: #ffffff;
}
.theme-nav .nav-link.active {
  color: #e89327;
}
.theme-nav .navbar-brand {
  color: #e89327;
}

/* Theme Primary Button */
.theme-primary-button {
  color: #fff;
  background-color: #e5923b;
  border-color: #e5923b;
}
.theme-primary-button:hover {
  color: #e5923b;
  background-color: #fff;
  border-color: #e5923b;
}

/* page-section-style */
.page-section {
  padding: 30px 0 0;
  text-align: center;
  margin: 0 40px 25px 40px;
  border-bottom: 3px solid #9a9898;
}

.page-block {
  margin: 20px -12px 30px;
}

.page-section-heading {
  font-weight: 300;
  text-transform: uppercase;
}

.page-block .card-text {
  text-align: justify;
  color: #6f6f6f;
}
.page-block .card-title {
  font-weight: 400;
}

.page-block .card-img-top {
  height: 350px;
}

#places-arround-us.page-block {
  margin: 20px 0 30px;
}

.text-block p {
  font-size: 18px;
  font-weight: 400;
  color: #6f6f6f;
  text-align: justify;
}

.place-arround-block {
  margin: 0 10px;
}

/* slick - dots - style */
.slick-slide:focus {
  outline: none;
}
.slick-dots {
  list-style: disc;
  margin-top: 20px;
}
.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  text-indent: -100000px;
  background: #ffffff;
  border: 2px solid #e5923b;
  box-sizing: border-box;
}
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  background: #e5923b;
}

.food-block {
  margin-bottom: 20px;
}

/* parallax - block - style */
.parallax {
  background-image: url("http://s1.picswalls.com/wallpapers/2015/09/20/2015-wallpaper_111525594_269.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.parallax-title-block {
  padding: 50px;
  background: #2b2a2a;
  border-radius: 3px;
  opacity: 0.9;
  text-align: center;
}

.parallax-title {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
.parallax-subtitle {
  color: #969393;
  font-size: 22px;
  font-weight: 300;
}

.parallax-banner {
  background-image: url("images/hotelroom2.jpeg");
}
.parallax-contact {
  background: none;
}

.parallax-contact a.parallax-subtitle:hover {
  color: #f5eeee;
}

@media screen and (max-width: 767px) {
  .parallax {
    min-height: 80vh;
  }
  .slick-dots {
    display: none !important;
  }
  .food-block {
    margin: 5px 0;
    border: none;
  }
  .parallax-contact {
    min-height: unset;
  }
  .parallax-contact iframe {
    height: 300px !important;
  }
  .parallax-contact .parallax-title-block {
    padding: 15px;
  }
  .parallax-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
